.box{
    padding-left: 600px;
    color: #ff0000;
    margin-top: 3em;
    margin-right: 1em;
    font-weight: 900;
    font-size: 26pt;
}
.box2{
    width: 550px;
    margin-left: 4em;
    margin-right:16cm;
    text-align: justify;
}
.box3{
    margin-left: 5em;
}
.box4{
    color: #198500;
}
.box5{
    line-height:1.5;

}
.box6{
    font-size: 16pt;
    font-weight: 900;
    color: red;
}
.box7{
    font-style: oblique;
    color: #b87a87;
    text-align:left;
}
