<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
 
    <target name="log_File" xsi:type="File"
            fileName="C:\Users\Desktop\source\repos\ASP.NET Core MVS Practise\ASP.NET Core MVS Practise\logs\nlog-all-${shortdate}.log"/>

    <target name="log_Info" xsi:type="ColoredConsole">
    </target>
  </targets>

  <rules>
    
    <logger name="*" minlevel="Error" writeTo="log_File" />
    <logger name="*" maxlevel="Info" writeTo="log_Info" />
    
  </rules>
</nlog>